# Ignore everything except
/*

!.gitignore
!.bashrc
!.gtkrc-2.0
!.xinitrc
!Backup/
!Packages/

# Exclude everything in Backup except
Backup/*
!Backup/etc/
!Backup/usr/

# Exclude everything in Backup/etc except
Backup/etc/*
!Backup/etc/fstab
!Backup/etc/systemd/
!Backup/etc/tmpfiles.d/
!Backup/etc/udev/

# Exclude everything in Backup/usr except
Backup/usr/*
!Backup/usr/local
