[Unit]
Description=Run custom user autostart script located in ~/ on boot and resume from suspension and hibernation
After=basic.target
After=suspend.target
After=hibernate.target

[Service]
User=orschiro
Environment=DISPLAY=:0
ExecStart=/home/orschiro/.scripts/autostart

[Install]
WantedBy=basic.target
WantedBy=suspend.target
WantedBy=hibernate.target
