[Unit]
Description=Set the correct brightness depending on the AC state on boot and resume from suspension and hibernation
After=basic.target
After=suspend.target
After=hibernate.target

[Service]
Type=simple
ExecStart=/home/orschiro/Scripts/autostart

[Install]
WantedBy=basic.target
WantedBy=suspend.target
WantedBy=hibernate.target
