[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Exec=ln -s %f /media/personal/robert/tmp
Icon=/usr/share/icons/AwOkenDark/clear/24x24/apps/aptana.png
Name=Temp
